@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-button {
    @apply font-semibold text-xl text-blue hover:text-logoColor block;
  }
  .input-field {
    @apply text-xl block px-6 py-4 rounded-2xl boxShadow outline-none outline-2 focus:outline-blue;
  }
  .btn-rounded {
    @apply rounded-full p-4 bg-blue outline-darkBlue;
  }
  .btn-primary {
    @apply rounded-md block w-full px-4 py-3 font-medium text-xl bg-lightBlue text-blue outline-none transition duration-200 hover:bg-blue hover:text-white;
  }
  .btn-secondary {
    @apply rounded-md block w-full px-4 py-2 font-normal text-base bg-blue text-whiteColor hover:bg-darkBlue transition duration-200;
  }
  .secondary-input {
    @apply rounded-md border outline-1 border-border bg-whiteColor outline-blue px-4 py-2 w-full block;
  }
  .dashboard-header-li-active {
    @apply rounded-b-md bg-blue text-whiteColor font-semibold text-sm tracking-widest py-8 px-3;
  }
  .dashboard-header-li {
    @apply rounded-b-md hover:bg-lightBlue bg-white text-black transition duration-200 font-semibold text-sm tracking-widest py-8 px-3;
  }
  .btn-rounded-secondary {
    @apply rounded-full p-4 bg-lightBlue text-blue border border-transparent hover:border-darkBlue;
  }
}

.two-row-grid {
  display: grid;
  gap: 24px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.boxShadow {
  box-shadow: #0000001a 0px 5px 16px;
}

.lightBoxShadow {
  box-shadow: #bfbfbf1a 1px 4px 10px;
}

.card-three {
  width: calc(33.3333% - 1.3334em);
}

* {
  font-family: "Inter";
  /* font-family: "Poppins"; */
}

.underline-color-parent {
  position: relative;
}

.underline-color {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 8px;
}

.card:nth-child(odd) .card-border {
  border-color: rgb(153, 0, 239);
}
.card:nth-child(even) .card-border {
  border-color: rgb(55, 112, 255);
}

.shape-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: -1;
}

.shape {
  position: absolute;
}

.s1 {
  top: -192px;
  left: 467px;
  width: 100px;
  height: 100px;
}
.s2 {
  top: -257px;
  left: -281px;
  width: 100px;
  height: 100px;
}
.s3 {
  top: -160px;
  left: 531px;
  width: 100px;
  height: 100px;
}
.s4 {
  top: -141px;
  left: -523px;
  width: 100px;
  height: 100px;
}
.s5 {
  top: 173px;
  left: -266px;
  width: 100px;
  height: 100px;
}
.s6 {
  top: 154px;
  left: 118px;
  width: 60px;
  height: 60px;
}
.s7 {
  top: -28px;
  left: 467px;
  width: 100px;
  height: 100px;
}
.s8 {
  top: 6px;
  left: -249px;
  width: 40px;
  height: 40px;
}
.s9 {
  top: 275px;
  left: -562px;
  width: 100px;
  height: 100px;
}

.animated-up-down {
  animation: animate-up-down 7s infinite linear alternate-reverse;
}

.animated-circle {
  animation: animate-circle 7s infinite linear;
}

.loading {
  animation: animate-circle 2s infinite linear;
}

@keyframes animate-circle {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-up-down {
  0% {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(45px);
  }
}

.add_a_project {
  background-image: url("../public/download.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.animate-step-1 {
  animation: animate_step1 1s ease;
  display: flex;
  opacity: 1;
  height: 241.5px;
  width: 30rem;
}

@keyframes animate_step1 {
  0% {
    width: 0;
    display: none;
    opacity: 0;
    height: 241.5px;
  }

  60% {
    width: 30rem;
    display: none;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
    height: 241.5px;
  }
}
